{% extends "base.html.twig" %} 

{# extends to extend the orginal template #}

{% block title %}

shenanaigsnssssss

{% endblock  %}
{% block body  %}

    {% for movie in movies %}
        <li><h1>{{movie}}</h1></li>
    {% endfor%}

    {# example of a bloucle #}

{% endblock  %}